body{
  font-family: Courier New;
}
header > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  left: -1.5%

}
header > ul > li > a{
  text-decoration: none;
<<<<<<< HEAD
  color: #000000;
}

header > ul > li
{
  margin-right: 25px;
  margin-left: 25px;
=======
  color: #000000;
  display: flex;
  justify-content: space-around;
>>>>>>> 1a9510320e81539e90281e31adafed32d3ca8e16
}
.logo{
  position: relative;
  top: 18.1px;
  }
.socialMedia{
display: flex;
flex-direction: row;
justify-content:center;
}
.socialMedia > a > img{
  height: 35px;
  margin: 5px;

}
.followUs{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 32%;
}
footer > p{
  text-align: right;
  margin-right: 10px;
}
.biglogo
{
  display: flex;
  justify-content: center;

}
